.footer-container {
    background-image: linear-gradient(to right, rgb(60,179,113),white);
    margin-top: 5rem;
    padding: 5rem 0;
}

.footer-form-contribution {
    padding-top: 3rem;
    width: 50%;
}

.form-label {
    display: inline-block;
    font-weight: bold;
    padding-bottom: 10px;
}

.form-input {
    width: 100%;
    padding: 1rem;
    font-size: 1rem;
    border-radius: 5px;
    outline: none;
}

.form-group {
    padding: 1rem 0;
}

.form-submit {
    display: inline-block;
    color: black;
    text-decoration: none;
    background-color: white;
    padding: 0.4rem 2rem;
    transition: 0.3s ease-in;
}

.form-submit:hover {
    color: white;
    background-color: black;
    font-size: 20px;
}

